.form-container {
    max-width: 800px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 2.5rem;
    background-color: #1f1f1f; 
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4); 
}

.form-container h2 {
    text-align: center;
    font-size: 2rem;
    color: #007bff; 
    margin-bottom: 2rem;
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
}

.form-container label {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    color: #f0f0f0; 
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.form-container input[type="text"] {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    color: #f0f0f0;
    background-color: #333; 
    border: 1px solid #555;
    border-radius: 5px; 
    transition: border-color 0.3s ease;
}

.form-container input[type="text"]:focus {
    outline: none;
    border-color: #007bff; 
}

.form-container input[type="submit"] {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #007bff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 2rem;
    padding-top: 18px;
    padding-bottom: 18px;
    margin-top: 45px;
}

.form-container input[type="submit"]:hover {
    background-color: #0056b3; 
}

